<div class="w-full shadow-lg shadow-gray-500/50 bg-gray-900">
    <div class="flex items-center w-full">
        <div class="text-white ml-2 p-3 w-[23%]">
            <h1 class="text-xl font-bold">OmniWear</h1>
        </div>

        <div class="w-[50%]">
            @if (displaySearchbar()) {
            <div class="p-0 my-4 h-10 bg-white flex items-center">
                <select #categoryOptions class="w-auto bg-gray-300 h-full border-none font-semibold px-2 pr-5">
                    @for (item of categoryStore.topLevelCategories(); track item.id) {
                    <option [value]="item.id">{{ item.category }}</option>
                    }
                </select>
                <input #keyword placeholder="Search..."
                    class="w-[90%] h-full inline-block border-none outline-none px-3" />
                <button (click)="onClickSearch(keyword.value, categoryOptions.value)"
                    class="w-[10%] h-10 border-none bg-gray-300 flex justify-center items-center">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </button>
            </div>
            }
        </div>

        @if(!isUserAuthenticated()) {
        <div class="flex items-center w-[27%] gap-6 justify-end h-full">
            <div class="flex items-center gap-2 text-white">
                <fa-icon [icon]="faUserCircle" class="text-[1.3em ]"></fa-icon>
                <h5>
                    <a routerLink="/home/login" class="text-white no-underline hover:underline">Sign In / Join</a>
                </h5>
                <!-- <span>/</span> -->
                <!-- <h5>
                        <a href="#" class="text-white no-underline hover:underline">Register</a>
                    </h5> -->
            </div>

            <div class="relative flex items-center p-2">
                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->

                <button (click)="navigateToCart()" type="button"
                    class="flex items-center justify-center text-white p-2 rounded-full bg-gray-700 hover:bg-gray-800 transition-colors cursor-pointer">
                    <fa-icon [icon]="faShoppingCart" class="text-[1.3em]"></fa-icon>
                </button>

                @if (cart.cart() && cart.totalProducts() > 0) {
                <span
                    class="absolute -top-1 right-1 flex items-center justify-center text-[0.7rem] font-semibold text-white bg-amber-500 rounded-full w-5 h-5">{{
                    cart.totalProducts() }}</span>
                }
            </div>
        </div>
        }
        @if (isUserAuthenticated()) {
        <div class="flex items-center w-[27%] gap-4 justify-end h-full">
            <div class="relative inline-block text-left">
                <button type="button" (click)="toggleDropdown()"
                    class="inline-flex items-center gap-2 px-4 py-2 bg-gray-700 text-white font-medium rounded-md hover:bg-gray-800 transition text-base cursor-pointer">
                    <fa-icon [icon]="faUserCircle" class="text-[1.3rem]"></fa-icon>
                    Hi {{ username() }}
                    <fa-icon [icon]="faChevronDown"></fa-icon>
                </button>

                @if (dropdownVisible) {
                <div class="absolute right-0 mt-2 w-36 bg-white rounded-md shadow-md border border-gray-200 z-50">
                    <ul class="py-1 text-sm text-gray-700">
                        <li class="block px-4 py-2 hover:bg-gray-100 cursor-pointer">
                            <a href="#" (click)="logout()"> Logout</a>
                        </li>
                    </ul>
                </div>
                }
            </div>

            <div class="relative flex items-center p-2">
                <button (click)="navigateToCart()" type="button"
                    class="flex items-center justify-center text-white p-2 rounded-full bg-gray-700 hover:bg-gray-800 transition-colors cursor-pointer">
                    <fa-icon [icon]="faShoppingCart" class="text-[1.3em]"></fa-icon>
                </button>

                @if (cart.cart() && cart.totalProducts() > 0) {
                <span
                    class="absolute -top-1 right-1 flex items-center justify-center text-[0.7rem] font-semibold text-white bg-amber-500 rounded-full w-5 h-5">{{
                    cart.totalProducts() }}</span>
                }
            </div>
        </div>
        }

    </div>
</div>